#nav {
  padding:0px;
  margin:0px;
    font-size: 18px;
}

#nav li {
  list-style-type:none;
  float:left;
  background-color:#EAEAEA;
}

#nav li a {
  display: block;
  padding: 8px 15px 8px 15px;
  color:#000060;
  font-weight:normal;
}

#nav li:hover {
  background-color:#AAAEB1;
}

#nav li:hover a {
  color:#FFFFFF;
  font-weight:normal;
}

#nav li.active {
  background-color:#AAAEB1;
}

#nav li.active a, #nav li .nav1 .active a, #nav li .nav1 li .nav2 .active a {  
  color:#FFFFFF;
  font-weight:bold;
}

#nav li .nav1 {
  display:none;
  position:absolute;
  z-index:5;
  padding:0px;
  margin:0px;
  clear:left;
  border:1px #000 solid; 
  min-width:150px;
  max-width:200px;
  box-shadow: 2px 2px 5px grey;
}

#nav li:hover .nav1 {
  display:block;
}

#nav li .nav1 a {
  color:#000060;
  font-weight:normal;
}

#nav li .nav1 li:hover a {
  color:#fff;
}

#nav li .nav1 li {
  clear:left;
  width:100%;
  background-color:#d0cece;
}

#nav li .nav1 li:hover, #nav li .nav1 .active {
  background-color:#AAAEB1;
}

#nav li .nav1 li .nav2 {
  display:none;
  position:absolute;
  z-index:6;
  padding:0px;
  width:250px;
  margin-left:80px;
  margin-top:-5px;
  border:1px #000 solid;
    box-shadow: 2px 2px 5px grey;
}

#nav li .nav1 li .nav2 li {
  background-color:#e1e3e4;
}

#nav li .nav1 li .nav2 li:hover {
  background-color:#aaaeb1;
}

#nav li .nav1 li:hover .nav2 {
  display:block;
}

#nav li .nav1 li .nav2 li a {
  color:#000060;
  font-weight:normal;
}

#nav li .nav1 li .nav2 li:hover a {
  color:#fff;
}

#nav li .nav1 li .nav2 li .nav3 {
  display:none;
  position:absolute;
  z-index:7;
  margin-left:50px;
  width:250px;
  border:1px #000 solid;
  padding:0px;
    box-shadow: 2px 2px 5px grey;
}

#nav li .nav1 li .nav2 li .nav3 li {
  background-color:#efefef;
}

#nav li .nav1 li .nav2 .active {
background-color:#aaaeb1;
}


#nav li .nav1 li .nav2 li .nav3 li a {
  color:#000060;
  font-weight:normal;
}

#nav li .nav1 li .nav2 li .nav3 li:hover a {
  color:#FFFFFF;
}

#nav li .nav1 li .nav2 li .nav3 .active {
  background-color:#AAAEB1;
}

#nav li .nav1 li .nav2 li .nav3 .active a {
  font-weight:bold;
  color:#FFFFFF;
}

#nav li .nav1 li .nav2 li .nav3 li:hover {
  background-color:#AAAEB1;
}


#nav li .nav1 li .nav2 li .nav3 li a {
  color:#000;  
}

#nav li .nav1 li .nav2 li:hover .nav3 {
  display:block;
}
td.navLevel3 a {
    color: white;
}