<div class="row">
<div class="col-md-4 col-sm-12 logo"><a href="{{ uri_baseurl('/') }}" class="design-footer-logo"> <img src="{{ uri_resource('/images/logo.png') }}" alt="hytrade24" /> </a></div>
<div class="col-md-4"><form method="post" action="{{ uri_action('newsletter') }}">
<div class="input-group"><input name="EMAIL" class="form-control" value="{{ htm('EMAIL') }}" placeholder="Emailadresse" required="required" type="text" /> <span class="input-group-addon"><button type="submit"><i class="fas fa-paper-plane"></i></button></span></div>
<div class="radio"><label> <input checked="checked" name="mode" type="radio" id="optionsRadios1" value="optin" /> Newsletter bestellen </label></div>
<div class="radio"><label> <input name="mode" type="radio" id="optionsRadios2" value="optout" /> Newsletter k&uuml;ndigen </label></div>
</form></div>
<div class="col-md-4 col-sm-12">
  <table align="center">
      <tr>
        <td>
  {% if option_is_set('SITE', 'CONTACT_FACEBOOK') or option_is_set('SITE', 'CONTACT_GOOGLE') or option_is_set('SITE', 'CONTACT_TWITTER') %} 
          
          {% if option_is_set('SITE', 'CONTACT_FACEBOOK') %}
		<a target="_blank" href="{{ option('SITE', 'CONTACT_FACEBOOK') }}">
  			<div class="footer-social-icon pull-left">
            	
                  <i class="fab fa-facebook"></i>
         
            
			</div>
		</a>
{% endif %} {% if option_is_set('SITE', 'CONTACT_TWITTER') %}
		<a target="_blank" href="{{ option('SITE', 'CONTACT_TWITTER') }}">
  			<div class="footer-social-icon pull-left">
            
                <i class="fab fa-twitter"></i>
            
  			</div>
          </a>
{% endif %} {% if option_is_set('SITE', 'CONTACT_GOOGLE') %}
		<a target="_blank" href="{{ option('SITE', 'CONTACT_GOOGLE') }}">
  			<div class="footer-social-icon pull-left">
            
                <i class="fab fa-google-plus-g"></i>
            
        	</div>
          </a>
        </td>
      </tr>
  </table>
{% endif %} {% endif %}</div>
  
	<style>
      #footer .container .footer-social-icon {
   	  	border: solid 0px #868686;
        border-radius: 25px;
    	margin-right: 15px;
    	text-align: center;
    	width: 42px;
    	height: 42px;
    	display: inline-block;
	   }
      
      #footer .footer-social-icon {
       	background-color: #649FB3;
        
      }
      
      
      #footer .container .footer-social-icon i {
   		 margin-top: 13px;
        	color: white;
		}	
      
      #footer .col-md-4 {
        max-width: 100%;
      }
      
      #footer .design-footer-logo img {
        margin-right: auto;
        margin-left: auto;
        display: block;
      }
     
      #footer .logo {
        margin-bottom: 10px;
      }
	</style>
</div>
<div class="row">
<div class="col-md-4">
  <h3 class="heading">
	<div>KONTAKT</div>
  </h3>
	<table>
	<thead>
	<tr>
<td><span> &nbsp; </span></td>
</tr>
<tr><th><span class="icon-container"><i class="fas fa-map-marker"></i></span></th><th></th><th>hytrade24 GmbH</th></tr>
</thead>
<tbody>
<tr>
<td></td>
<td width="10%"></td>
<td><span>Merkurstrasse 52</span></td>
</tr>
<tr>
<td></td>
<td></td>
<td><span> D-67663 Kaiserslautern</span></td>
</tr>
<tr>
<td><span> &nbsp; </span></td>
</tr>
<tr>
<td><span class="icon-container"><i class="fas fa-envelope"></i></span></td>
<td></td>
<td><a href="mailto:info@hytrade24.com" style="color: #6eaac1;">info@hytrade24.com</a></td>
</tr>
<tr>
<td><span> &nbsp; </span></td>
</tr>
<tr>
<td><span class="icon-container"><i class="fas fa-phone"></i></span></td>
<td></td>
<td><span>+49 631 370 926 95</span></td>
</tr>
<tr></tr>
<!-- <tr>
                            <div>
                                <span class="icon-container"><i class="fa fa-fax"></i></span>
                                <span>Fax: +49 (0) 631 370 926 95</span>
                            </div>
                        </tr> --></tbody>
</table>
</div>
<div class="col-md-4">
<div class="row">
<div class="col-md-6">
  <h3 class="heading">
	<div>LINKS</div>
  </h3>
<ul>
<li><a href="{{ uri_action('agb') }}">AGB</a></li>
<li><a href="{{ uri_action('datenschutzerklaerung') }}">Datenschutz</a></li>
<li><a href="{{ uri_action('faq') }}">FAQ</a></li>
<li><a href="{{ uri_action('about') }}">&Uuml;ber uns</a></li>
<li><a href="{{ uri_action('kontakt') }}">Kontakt</a></li>
<li><a href="{{ uri_action('impressum') }}">Impressum</a></li>
</ul>
</div>
<div class="col-md-6">
  <h3 class="heading">
	<div>&nbsp;</div>
  </h3>
<ul>
<li><a href="{{ uri_action('news') }}">Blog und News</a></li>
<li><a href="{{ uri_action('jobs') }}">Stellenangebote</a></li>
</ul>
</div>
</div>
</div>
<div class="col-md-4">
  <h3 class="heading">
	<div>Aktuelles</div>
  </h3>
{{ subtpl('tpl/'~SYS_TPL_LANG~'/recent_news_list.htm', 'ID_KAT=0', 'COUNT=3', 'OFFSET=0', 'COUNT_PER_ROW=1', 'SHOW_PREVIEW_IMAGE=1', 'SHOW_TYPES', 'TEMPLATE=row_list', 'CACHE_LIFETIME=106', 'HIDE_PARENT=1') }}</div>
</div>